@model Topic

<div class="card">
	<div class="card-header">
		<h5 class="w-75 d-inline-flex"><a class=" w-100 text-black text-decoration-none"  asp-area="" asp-controller="Home" asp-action="Posts" asp-route-topicName=@Model.Title>@Model.Title</a></h5>
		<span class="float-end post-count fst-italic">@Model.NumberOfPosts <i class='far fa-comment-alt' style='font-size: 24px'></i></span>
	</div>
	<div class="card-body row">
		<div class="col-9">
			<p class="card-text">@Model.Description</p>
		</div>
		<div class="col-3 d-flex flex-column">
			<a class="fst-italic mt-auto ms-auto text-black" asp-area="" asp-controller="Home" asp-action="Posts" asp-route-topicName=@Model.Title>view posts</a>
		</div>
	</div>
</div>
<br/>
