@{
    ViewData["Title"] = "Home Page";
}


<div >
	<div class="row">
		<div class="col-xl-6 col-lg-12 column1">
			<h1>Topics</h1>
			@{
				foreach (var topic in ViewBag.topics)
				{
					<partial name="_TopicCardPartial" model="topic"/>
				}
			}
		</div>
		<div class="col-xl-6 d-xl-block d-none">
			<h1>Recent posts</h1>
			@{
				foreach (var post in ViewBag.posts)
				{
					<partial name="_PostCardPartial" model="post"/>
				}
			}
			</div>
	</div>
		


</div>