@{
    ViewData["Title"] = "Home Page";
}

@model Topic
<div >
	<div class="row">
		<div class="col-xl-6 col-lg-12 column1">
			<h1>Topics</h1>
			@{
				foreach (var topic in ViewBag.topics)
				{
					<partial name="_TopicCardPartial" model="topic"/>
				}
			}
		</div>
		<div class="col-xl-6 d-xl-block d-none">
			<h1>Recent posts</h1>
			@{
				for (int i = 1; i < 4; i++)
				{
					<partial name="_PostCardPartial" model="i"/>
				}
			}
			</div>
	</div>
		


</div>