@{
	ViewData["Title"] = "Posts Page";
}

<div >
	<div class="row">
		<h1 class="text-center">@ViewBag.Searched</h1>
		<div class="col-12">
			@{
				for (int i = 1; i < 14; i++)
				{
					<partial name="_PostCardPartial" model="i"/>
				}
			}
		</div>
	</div>
		


</div>