@{
	ViewData["Title"] = "Posts Page";
}

<div >
	<div class="row">
		<h1 class="text-center">@ViewBag.Searched</h1>
		<div class="col-12">
			@{
				foreach (var post in ViewBag.posts)
				{
					<partial name="_PostCardPartial" model="post"/>
				}
			}
		</div>
	</div>
		


</div>