@{
	ViewData["Title"] = "Comments Page";
}

<div class="row">
	<div class="col-xl-10 col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5 class="d-inline-flex">@ViewBag.post.Title</h5>
				<span class="float-end  fst-italic">2022-10-11 14:35</span>
				<br/>
				<span class="fst-italic">By: Sanyi</span>
				
			</div>
			<div class="card-body row">
				<div class="col-xl-9 col-lg-12">
					<p class="card-text">@ViewBag.post.Message</p>
				</div>
				<div class="col-12 d-flex flex-column">
					<button class="btn-sm btn-outline-dark mt-auto ms-auto" type="button">Comment <i class='fas fa-share' style='font-size:24px'></i></button>
				</div>
			</div>
		</div>
		<br/>
	</div>

	@foreach(var comment in ViewBag.post.Comments)
	{
		<div class="col-xl-9 col-lg-11">
			<partial name="_CommentCardPartial" model="comment"/>
		</div>
	}
</div>
