<div class="card">
	<div class="card-header">
		<h5 class="d-inline">Topic @Model</h5>
		<span class="float-end post-count fst-italic">1232 <i class='far fa-comment-alt' style='font-size: 24px'></i></span>
	</div>
	<div class="card-body row">
		<div class="col-9">
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et iaculis nisl, vel vulputate mauris. Duis dapibus odio augue, vitae molestie lacus lacinia at.Maecenas et iaculis nisl, vel vulputate mauris.</p>
		</div>
		<div class="col-3 d-flex flex-column">
			<a class="fst-italic mt-auto ms-auto">view posts</a>
		</div>
	</div>
</div>
<br/>
