.card.loading h5{
    background-color: rgba(62, 62, 62, 0.2);
    width: 30% !important;
    border-radius: 10px;
    padding: 0.75rem;
}

.card.loading p{
    background-color: rgba(62, 62, 62, 0.2) !important;
    width: 70% !important;
    border-radius: 10px;
    padding: 2rem;
}